[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.idea/
.vscode/
.gitattributes
PlatformGame/.vs/PlatformGame/FileContentIndex/169d0a39-bef5-4148-a49c-e2637bfac813.vsidx
PlatformGame/.vs/PlatformGame/FileContentIndex/7d059762-ff02-461b-beb9-d9d90ef2d26c.vsidx
PlatformGame/.vs/PlatformGame/FileContentIndex/9d191097-b1a2-48f7-a934-8d8d5046abf2.vsidx
PlatformGame/.vs/PlatformGame/FileContentIndex/9f6aa0e7-11d2-4767-be21-0728882b97b3.vsidx
PlatformGame/.vs/PlatformGame/FileContentIndex/86146179-015c-465c-bd08-4b9c3c08bf6d.vsidx
